#custom-table-container {
    grid-area: custom-table-area;
}

#grid-area {
    display: grid;
    grid-template-areas: "custom-table-area custom-table-area" ". full-price-area";
    grid-template-columns: 0.7fr 0.3fr;
    grid-template-rows: 0.2fr 0.8fr;
}



#full-price {
    grid-area: full-price-area;
    border-right: 1px solid #dee2e6;
    display: grid;
    align-items: center;
    grid-template-columns:  0.607fr 0.393fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "text-price-full-area input-price-full-area" "text-price-sale-area input-price-sale-area";
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.text-price-full {
    grid-area: text-price-full-area;
    padding-left:5px;
    height: 100%;
    width: 100%;
    border-bottom: inherit;

}

.text-price-sale {
    grid-area: text-price-sale-area;
    padding-left:5px;
    height: 100%;


}

.input-price-sale {
    grid-area: input-price-sale-area;
    padding-left:1rem;
    border-left: inherit;
    height: 100%;


}

.input-price-full {
    grid-area: input-price-full-area;
    padding-left:1rem;
    border-left: inherit;
    height: 100%;
    width: 100%;
    border-bottom: inherit;

}


.sale-text {
    position: relative;
    top: 40%;
}