.statusActive {
    background-color: #F9D871 !important;
}

.statusActive th{
    background-color: #F9D871 !important;
}

.statusConfirmed {
    background-color: #7DF9FF !important;
}

.statusConfirmed th {
    background-color: #7DF9FF !important;
}

.customHeader th {
    background-color: #F9D871
}

.mainContainer {
   margin: 30px;

}

.active-menu-item {
    background-color: #8D917A;
}


.main-container-table {
    margin: 30px;
    border: 2px solid black;
}