
.customHeader th {
    background-color: #F9D871
}

.main-container {

}

form .buttons-cancel {
    background: #996666;
    border: none;
}

form .buttons-default {
    background: gray;
    border: none;
}

form .buttons-default:hover {
    background: gray;
    border: none;
}

form .buttons-cancel:hover {
    background: #996666;
}

form .buttons-success {
    background: #87A96B;
    border: none;
}

form .buttons-success:hover {
    background: #87A96B;
}


td .buttons-cancel {
    width: 100%;
}

.buttons-success {
    color: #87A96B;
}

td .buttons-success {
    width: 100%;
}

